* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-image: url('/img/tracklist.jpg');
  background-size: cover; /* Alterado para cover */
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 2px solid #fff;
  padding: 20px;
  width: 80%; /* Alterado para 80% */
  max-width: 600px; /* Adicionado */
}

.new-task-container {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Adicionado para ajustar em telas menores */
  gap: 10px; /* Espaçamento entre os elementos */
}

.new-task-container input {
  flex: 1;
  font-size: 1rem;
  border: 2px solid #d1d3d4;
  border-radius: 5px;
  padding: 12px;
  font-weight: 500;
  margin-right: 10px;
  width: 100%;
}

.new-task-button {
  flex: 0 0 150px; /* Tamanho fixo com flex-basis */
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  background-color: #41b883;
  color: #fff;
  padding: 12px;
  cursor: pointer;
}

.tasks-container {
  background-color: #fff;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  margin-top: 6px;
}

.task-content {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.task-item i {
  background-color: #41b883;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task-item i:hover {
  background-color: #2d7b5a;
}

/* Utilities */
.error {
  border: 2px solid red !important;
}

.error::placeholder {
  color: red;
}

.completed {
  text-decoration: line-through;
}
